/* 공통으로 적용되어야할 css  */
html,
body {
  height: 100vh;
}
/* 게시판 제목 */
@font-face {
  font-family: "BMDOHYEON_ttf";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/BMDOHYEON_ttf.ttf") format("truetype");
}
/* 주아체 */
@font-face {
  font-family: "jua";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/BMJUA_ttf.ttf") format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Bold.ttf");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Light.ttf");
}
/* 중간글씨체 */
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Medium.ttf");
}
/* @font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Regular.ttf");
} */
/* * {
  font-family: "SpoqaHanSansNeo-Medium";
} */
.el-button,
button {
  font-family: "jua";
}
.el-dialog {
  font-family: "jua";
}
* {
  /* font-family: "jua"; */
}
body {
  margin: 0;
  font-weight: 400;
  font-size: large;
}
/* 모든 버튼 색깔 설정 */
.el-button--primary {
  color: #fff;
  background-color: #ffd344;
  border-color: #ffd344;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.el-button--info:focus,
.el-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
  outline: 0;
}
/* 작은 화면일때 보이는거 */
@media (min-width: 1270px) {
  html,
  body {
    min-width: 1270px;
  }

  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}
#pw {
  font-family: none;
}
