/* 공통으로 적용되어야할 css  */
html,
body {
  height: 100vh;
}

@font-face {
  src: url("../../assets/fonts/BMJUA_ttf.ttf");
  font-family: "jua";
}
* {
  font-family: "jua" !important;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: large;
}
/* 모든 버튼 색깔 설정 */
.el-button--primary {
  color: #fff;
  background-color: #ffd344;
  border-color: #ffd344;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.el-button--info:focus,
.el-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
  outline: 0;
}
/* 작은 화면일때 보이는거 */
@media (min-width: 1270px) {
  html,
  body {
    min-width: 1270px;
  }

  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}
